.toast-gift{
    top: 550px;
    right: 0;
    position: fixed;
    width: 250px;
    border: 5px solid blue;

    border-top: none;
    border-bottom: none;
     border-right: none;     
    
}











@media screen  and (max-width:991px) {
    .carousel-item{
        height: 80vh;
    }
    .carousel-item img{
     height:100%;
        object-fit: cover;
        object-position: center;
    }
}
@media screen and (min-width:577px) {
    .carousel-item{
        height: 80vh;
    }
    .carousel-item img{
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
} 

/* 
bottom: 3rem;
z-index: 10;
position: absolute;
right: 15%;
bottom: 1.25rem;
left: 15%;
padding-top: 1.25rem;
padding-bottom: 1.25rem;
color: #fff;
text-align: center;
background-position-x: left; */