.toast-gift{
    
    top: 550px;
    right: 0;
position: fixed;
    width: 250px;
    border: 5px solid rgb(0, 183, 255);
    border-top: none;
    border-right: none;
    border-bottom: none;
   z-index: 3;
}

.full-packages{

  
    position: absolute;
    z-index: 1;
   
   height: 500px;
 
    top: -25px;
} 

@media screen ,(min-width:577px) and (max-width:768px) {
    .toast-gift{
       
       z-index: 2;
    }
    .full-packages{
        row-gap: 25px;
    }
    } 
@media screen ,(min-width:768px) and (max-width:992px) {
    .toast-gift{
       
       z-index: 2;
    }
    .full-packages{
        row-gap: 25px;
    } 
}
@media screen and (min-width:576px) {
    .toast-gift{  z-index: 2;   }
    .full-packages{
     margin-top: 25px;
    } 
} 






@media screen  and (max-width:991px) {
    .carousel-item{
        height: 80vh;
    }
    .carousel-item img{
     height:100%;
        object-fit: cover;
        object-position: center;
    }
}
@media screen and (min-width:577px) {
    .carousel-item{
        height: 80vh;
    }
    .carousel-item img{
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
} 

/* 
bottom: 3rem;
z-index: 10;
position: absolute;
right: 15%;
bottom: 1.25rem;
left: 15%;
padding-top: 1.25rem;
padding-bottom: 1.25rem;
color: #fff;
text-align: center;
background-position-x: left; */